# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
djangoenv/

# Database
db.sqlite3

# Environment Variables
.env

# IDE
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Migrations cache
**/__pycache__/

# Compiled files
*.egg-info/

# Media
media/